@import "tailwindcss";

@theme {
  --font-jost: var(--font-jost);
  
  --color-vert: #1DD05D;
  --color-jaune: #D3F527;
  --color-orange: #dda41e;
  --color-rouge: #F54927;
  --color-bleu: #2596BE;

  --color-bg2: #202020;
  --color-bg1: #080808;
}

@layer components {
  * {
    font-family: var(--font-jost);
  }

  .text1 {
    @apply text-white;
  }

  .text2 {
    @apply text-vert;
  }

  .text3 {
    @apply text-gray-500;
  }

  .text4 {
    @apply text-bg1;
  }

  .textred {
    @apply text-rouge;
  }
}

:root {
  --background: #080808;
}

body {
  background-color: var(--background);
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
  background-repeat: repeat;
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* SCROLLBAR */
* {
  scrollbar-color: rgba(30, 224, 95, 0.8) transparent;
}